body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 10px;
}

input {
  display: block;
  margin: 5px 0;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
}

#posts img {
  width: 200px;
  margin-top: 5px;
}
